
.content-question
{
  background-color: white;
  
  padding: 20px;
  text-align: center;
}


.icon_play
{
  font-size: 37px;
  padding: 21px;
  color: red;
}
.QTS_Question_text_speeck
{
    background-color: #f1f3f4;
    padding: 10px;
    border-radius: 5px;
    float: left;
    margin-left: 5px;
    border-radius: 25px;
    font-size: 17px;
    margin-top: 4px;
}
.QTS_Question_audio
{
  float: left;
}
.slick-prev:before
{
    font-family: "Font Awesome 5 Pro";
  content:"\f359";
   
}
.slick-next:before
{
   font-family: "Font Awesome 5 Pro";
  content:"\f35a";
}
.slick-arrow
{
     width: auto;
  border-radius: 28px;
  padding-left: 6px;
  color: white !important;
  border:1px solid #eee;
  margin-top:0px;
}
.fa-play-circle:before
{
    box-shadow: 0px 0px 2px 3px #eee;
  border-radius: 21px;
  cursor: pointer;
}
.slick-slide
{
  background-color: white;
  padding: 22px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.icon_microphone
{
  text-align: center;
  font-size: 20px;
}
.icon_microphone
{
    color: red;
}
.fa-microphone
{
  font-size: 50px;
}
.fa-microphone:before
{
  cursor: pointer;
}
.recording-waves
{
  width:70px;
  display: none;
  margin-left: 45%;
  
}
.error_color
{
    color: red !important;
}
.QTS-container-image-question
{
  text-align: center !important;
}
.QTS-container-image-question>.QTS-image-question
{
  margin-left: 25%;
}
/*{
    float: left;
    margin-left: 9px;
    border-radius: 35px;
    font-size: 15px;
}*/
.container_playlist
{
    width: 100%;
    float: left;
    padding: 10px;
    margin-bottom: 28px;
}
.sect
{
  float: left;
  margin: 10px;
}
.true_answer
{
  color: green;
}
.false_answer
{
  color:red;
}
.container-next-slide
{
    padding: 13px;
    font-size: 32px;
    color: #009688;
    text-align: right;
    display: none;
}
.container-next-slide>*
{
   cursor: pointer;
}
.spech_record 
{
  text-align: center;

}
.choice_correct_choice
{
    float: left;
    margin: 20px !important;
}
.QTS-container-input-text
{
  text-align: left;
  padding: 10px;
}
.QTS-question-text
{
    background-color: #f1f3f4;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
    border-radius: 25px;
    font-size: 17px;
    margin-top: 4px;
}
.notice_before_answer
{
    text-align: left;
    float: left;
    padding: 7px;
    font-size: 17px;
    color: #E91E63;
    width:100%; 

    background-color: wheat;
    margin: 13px;
    border-radius: 17px;
}
.notice_before_answer>i 
{
  padding: 10px;
  font-size: 21px;

}
.form_solution_question>table
{
  border:1px solid transparent;
}
.form_solution_question>table>tbody>tr
{
  padding: 10px;
  
}
.form_solution_question>table>tbody>tr>td
{
  border:1px solid transparent;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #eee;
}
.QTS-container-input-text>label
{
    font-size: 20px;
    color: #FF5722;
    text-transform: lowercase;
    letter-spacing: 1.2px;
}
.form_solution_correct_text>button[type="submit"] , .form_solution_question>button[type="submit"] 
{
    padding: 8px;
    border-radius: 0px;
    font-size: 16px;
    background-color: #F44336;
}
.fa-check-circle , .fa-times-circle
{
 /* float: left;*/
}
.fa-times-circle
{
  color: red !important;
}
.last-slide-result
{
  background-color: #f9f9f9;
  padding: 22px;
  border: 1px solid lightgray;
  border-radius: 10px;
  text-align: center;
  display: none;
}
/*******************************************************************
* front end desighn 
*********************************************************************/
.QTS_quiz_Card
{

  padding: 16px;

}
.QTS_quiz_Card .container-card
{
  background: #eee;
  border-radius: 2px;
  position: relative;
  padding: 5px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
}
.QTS_quiz_Card .container-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.QTS_quiz_Card>.container-card>.card-body>.card-text
{
  line-height: 1.5em;
  font-size: 18px;
}
.QTS_quiz_Card>.container-card>.card-body>a
{
  text-decoration:none;
  color: white;
}