body{
  background:#ccc;
}
.main {
  font-family:Arial;
  width:500px;
  display:block;
  margin:0 auto;
}
h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}
.action{
  display:block;
  margin:100px auto;
  width:100%;
  text-align:center;
}
.action a {
  display:inline-block;
  padding:5px 10px; 
  background:#f30;
  color:#fff;
  text-decoration:none;
}
.action a:hover{
  background:#000;
}
.slick-prev , .slick-next
{
    background-color: red;
  padding: 39px;
}
.content-question
{
  background-color: white;
  height: 200px;
  padding: 20px;
}
.slick-prev , .slick-next
{
   z-index: 1000000;
    background-color: rgb(211, 151, 1);
    z-index: 100000;
    position: absolute;
    bottom: 0px;
    right: 0px;
      top: auto;
      padding: 17px;
  color: white;
    font-size: 15px;
}
.slick-prev:before, .slick-next:before
{
  font-size: 19px;
  line-height: 0px;
    margin: 5px;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus
{
    z-index: 1000000;
    background-color: rgb(211, 151, 1);
    font-size: 19px;
    z-index: 100000;
}
.icon_play
{
  font-size: 37px;
  padding: 21px;
  color: red;
}
.text_speeck
{
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;

}
.slick-prev:before
{
    font-family: "Font Awesome 5 Pro";
  content:"\f359";
   
}
.slick-next:before
{
   font-family: "Font Awesome 5 Pro";
  content:"\f35a";
}
.slick-arrow
{
     width: auto;
  border-radius: 28px;
  padding-left: 6px;
  color: white !important;
  border:1px solid #eee;
  margin-top:0px;
}
.fa-play-circle:before
{
    box-shadow: 0px 0px 2px 3px #eee;
  border-radius: 21px;
  cursor: pointer;
}
.slick-slide
{
  background-color: white;
}
.icon_microphone
{
  text-align: center;
  font-size: 20px;
  position: absolute;
  bottom: 100px;
}
.icon_microphone
{
    color: red;
    position: absolute;
    left: 48%;
}
.fa-microphone
{
  font-size: 50px;
}
.fa-microphone:before
{
  cursor: pointer;
}
#recording-instructions
{
  width:70px;
  display: none;
}
.error_color
{
    color: red !important;
}