body
{
  background: #f1f1f1;
}
.hidden[style*='display: block'] {
    display:block !important;
}
.section-choose-type-Question
{
  padding: 20px;
}
.label_choose_type
{
  background-color: #eee;
  padding: 12px;
  margin-top: 3px;
}
.btn span.glyphicon {         
  opacity: 0;       
}
.btn.active span.glyphicon {        
  opacity: 1;       
}
.container-choices
{
  display: inline-block;
  background: #ffc10721;
  border:1px solid #ffc10721;
}
.single-choices
{
  display: inline-block;
  padding: 10px;
  font-size: 15px;
  margin-right: 5px;
  margin-left: 5px;
}
input[type=checkbox], input[type=radio] , .wp-admin p input[type=radio], .wp-admin p input[type=checkbox], td>input[type=checkbox]
{
  margin-top:-4px;
}
.options
{
    width: 70%;
}
.options>tbody>tr>td , .options>tbody>tr>th , .options>thead>tr>th 
{
  padding: 10px;
}
.tr_table_choices
{
  background-color: #F3F2F7;
}
.dashicons-plus
{
cursor: pointer;
}
.no_active
{
  display: none;
}
.readonly_class
{
    width: 65%;
    display: inline-block;
}
.QTS_container_notice_area
{
    float: right;
    padding-top: 1px;
}
.tablenav-pages-navspan
{
  height:26px;
}



/**************************************************************/


ul#sortable{
  list-style: none;
  margin-top: 2em;
}

ul#sortable li{
  color: #fff;
  padding: 20px;
  width: 600px;
  cursor: move;
  background-color: #4caf50;
}



.ui-sortable-placeholder{
  border: 1px dotted;
  padding: 30px 20px;
}
a
{
  color: #0073aa;
}